@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans.ttf") format("truetype");
}

:root {
  --color-primary: #929699;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "OpenSans", sans-serif;
  font-size: 5rem;
  margin: 0;
  padding: 0;
}

b {
  font-weight: 700;
}

.flex_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  flex-direction: column;
}

.blur {
  filter: blur(5px);
}
